*{
   
    margin: 0px;
    padding-top: 0px;
    overflow-x: hidden;
       
}

header
{
    background-image: url(../images/hero_copy.jpg);
    background-size: cover;
    height: 120vh; 
    overflow-y: hidden;
   
}  

body
{
   margin:0px;
  
}

h1, h2, h3, h4, h5, h6
{
   font-family: "SansBlack",serif;
   overflow-y: hidden;
   padding-left: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   text-transform: uppercase;
}


p{
    font-family: "poppins",sans-serif;
   }


button{
    text-decoration: underline;
    background-color:white;
    border: none;
    font-family: "Poppins", serif !important;
    font-size: 18px !important;
    float:right;
    padding-left: 220px;
    text-transform: uppercase !important;
    font-weight: 500;
    color:black;
    
}

button:hover, button:active
{
    color: #f27830;
}

footer
{
    background-color: #707070;
}
/*logo block*/
.logo
{
   width: 160px;
   padding-left: 20px;
   padding-top: 10px;
}
/*nav block*/
nav ul
{
    display: flex;
    margin:0px;
    padding: 0px 100px;
    float: right;
    padding-right: 0px;
   
}

/*nav links*/
nav li
{
    list-style: none;
     float: right; 
     padding: 10px;
     font-size: 18px;
}

/*nav headings*/
nav li a
{
  display: block;
  color: white;
   padding: 5px;
   padding-top: 15px;
   padding-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins",serif ;
  transition: all 0.2s ease-in;
}

nav ul li a:hover
 {
   color: #F29422 !important;
 }

 /*Donate*/
 .Donate, .Petition
 {
     color: #F29422;
     text-decoration: underline;
 }

 .Donate:hover, .Petition:hover,.Donate:active, .Petition:active
 {
     color:#F2DBAE !important;
 }
 
/*mission heading*/
.mission_heading
{
    color:white;
    padding: 0px;
}
 /*header content*/
 .Header_content
 {
     padding-top: 30px;
     padding-left: 50%;
 }

 /*mark*/
 .mark_video
 {
     height: 380px;
     width:674px;
 }

 /*mission statement*/
.mission_statement
{
    width: 80%;
    font-size: 18px;
    padding-left: 20px;
    padding-right:20px;     
    padding-top:10px;
    color:white;
    text-decoration: underline;
    overflow-y: hidden;
}

.no_underline
{   
    width: 80%;
    font-size:18px;
    padding-left: 20px;
    padding-right:20px;    
    color:white;
    text-decoration: none;
    overflow-y: hidden;
}
.make_change
{
    color:white;
    background-color: inherit;
    font-size: 18px;
    float:right;
    padding-left: 220px;
    text-transform: uppercase;
    
}
 /*partners*/
 .pad_hed
 {
     padding-top: 40px;
 }
.part_images
{
    display:flex;
    padding:20px;
    
}

.image1
{
    width:133px;
    height:48px;
}
.image2
{
    width:121px;
    height:105px;
}
.image3
{
    width:139px;
    height:33px;
}
.image4
{
    width:135px;
    height:39px;
}
.image5
{
    width:125px;
    height:169px;
}
.image6
{
    width:167px;
    height:156px;
}
.image7
{
    width:162px;
    height:58px;
}
.image8
{
    width:147px;
    height:42px;
}
.image9
{
    width:107px;
    height:139px;
}
 /*division1*/
 .division1
 {
     width: 95%;
     padding-left:40px;
     padding-right: 40px;
 }
 /*Actions*/

 
 .Sept_20
 {
     display: flex;
     align-items: center;
     padding-left:20px;
     padding-right:40px;
     padding-top:20px;
     padding-bottom: 40px;
    
 }
.h_p_container h2
{
    font-family: "poppins";
    text-transform: none;
}
 .para_sept
 { 
     padding: 20px;
     padding-left: 40px;
     width: 674px;
     height:300px;
     padding-right:90px;

 }
 .voted_img
 {
    width:820px;
     height: 388.5px;
     padding-right: 40px;
     padding-bottom: 30px;
     padding-left:30px;
     background-size: cover;
     overflow-y: hidden;
 }

 .July_20
 {
    display: flex;
    align-items: center;
    padding-right:40px;
     padding-left:20px;
     padding-top:40px;
     padding-bottom: 20px;
     font-family: "poppins";
 }

 .para_july
 {
    padding: 20px;
    padding-left: 40px;
    width: 674px;
    height:300px;
    padding-right:90px;
    
 }

 .type
 {
    width:812px;
     height: 384px;
     padding-left: 40px;
     padding-bottom: 30px;
     padding-right:30px;
     background-size: cover;
     overflow-y: hidden;
     box-shadow: 0px 3px 6px #00000071;
 }

 /*Articles*/
 /*padding to the article section*/
 .article_wrapper
 {
     padding-bottom: 20px;
     height: 130vh;
     
 }
 
 
 /*Cards*/
 .cards
 {
     display: flex;
     flex-direction: row;
     justify-content: center;
     z-index: 500;
     background-image: url(../images/bg_div.png);
     background-size: contain;
     background-repeat: no-repeat;
     overflow-y: hidden;
 }

 

 .card{ 
    margin:20px;
    box-shadow: 0px 3px 6px #00000071;
 } 

 .card:hover
 {
    box-shadow: 0px 10px 14px  #00000071;
    transition: 0.2s ease-in-out;
 }

 .card-img-top
 {
     height: 80% !important;  
    
 }

 .card-title
 {
     font-family: "Poppins",serif;
     text-align: center;
     padding:10px;

 }

 .card-body
 {
     width:auto !important;
     height:173px !important;
     align-content:  center;
 }

 .card-title{
     text-transform: none;
     font-family: "poppins";
 }
 .card-text
 {
     text-align: center;
     padding:5px;
 }

 /*footer*/
 footer ul
{
    display: flex;
    margin:0px;
    justify-content: center;
    align-items: center;  
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

 footer li
{
    list-style: none;
     padding: 10px;
     font-size: 20px;
}

 footer li a{
    display: block;
    color:white;
     padding: 5px;
     padding-top: 15px;
     padding-bottom: 15px;
     text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins",serif ;
    transition: all 0.2s ease-in;
 }

 footer ul li a:hover
 {
   color: #F2D16D !important;
   
 }

 .footer_img
 {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 20px;
     padding-bottom: 20px;
    
}

.icons
{
    display:flex;
    align-items: center;
    justify-content: center;
       
}

.icons_size
{
    padding:20px;
    padding-top: 30px;
    margin-right:180px;
    width:96px;
}

.icons_size1
{
    padding:20px;
    padding-top: 30px;
    margin-left:180px;
    width:96px;
}
.icons_size:hover
{
    transform: (180);
    cursor:pointer;
    color: #f27830;
}

.copyright
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cp_icon
{
    padding:10px;
}

.cp_content
{
    padding:10px;
    margin-bottom: 0px;
    color:white;
}

.li li
{
  font-size: 16px;
}
