*{
   
    margin: 0px;
    padding-top: 0px;
    overflow-x: hidden;
    
}

header
{
    background-image: url(../images/Donation/Hero_image.jpg);
    background-size: cover;
    position: center;
    height: 80vh;
}
body
{
   margin:0px;
   
}

h1, h2, h3, h4, h5, h6
{
 font-family: "Poppins",serif;
 overflow-y: hidden;
 padding-left: 20px;
 padding-top: 20px;
 color:#F27830;
 text-align: center;
 padding:20px;
 
}

p{
  font-family: "Montserrat", sans-serif;
  padding:20px;
  
}

button{
    text-decoration: underline;
    background-color:white;
    border: none;
    font-family: "Poppins", serif !important;
    font-size: 18px !important;
    float:right;
    padding-left: 220px;
    text-transform: uppercase !important;
    font-weight: 500;
    color:black;
    
}

button:hover, button:active
{
    color: #f27830;
}


footer
{
    background-color: #707070;
    margin-top:40px;
}
/*footer*/
footer ul
{
    display: flex;
    margin:0px;
    justify-content: center;
    align-items: center;  
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

 footer li
{
    list-style: none;
     padding: 10px;
     font-size: 20px;
}

 footer li a{
    display: block;
    color:white;
     padding: 5px;
     padding-top: 15px;
     padding-bottom: 15px;
     text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins",serif ;
    transition: all 0.2s ease-in;
 }

 footer ul li a:hover
 {
   color: #F2D16D !important;
   
 }

 .footer_img
 {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 20px;
     padding-bottom: 20px;
    
}

.icons
{
    display:flex;
    align-items: center;
    justify-content: center;
       
}

.icons_size
{
    padding:20px;
    padding-top: 30px;
    margin-right:180px;
    width:96px;
}

.icons_size1
{
    padding:20px;
    padding-top: 30px;
    margin-left:180px;
    width:96px;
}
.icons_size:hover
{
    transform: (180);
    cursor:pointer;
    color: #f27830;
}

.copyright
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cp_icon
{
    padding:10px;
}

.cp_content
{
    padding:10px;
    margin-bottom: 0px;
    color:white;
}

.li li
{
  font-size: 16px;
}

/*logo block*/
.logo
{
   width: 160px;
   padding-left: 20px;
   padding-top: 10px;
   cursor: pointer;
}
/*nav block*/
nav ul
{
    display: flex;
    margin:0px;
    padding: 0px 100px;
    float: right;
    padding-right: 0px;
   
}

/*nav links*/
nav li
{
    list-style: none;
     float: right; 
     padding: 10px;
     font-size: 18px;
}

/*nav headings*/
nav li a
{
  display: block;
  color: white;
   padding: 5px;
   padding-top: 15px;
   padding-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins",serif ;
  transition: all 0.2s ease-in;
}

nav ul li a:hover
 {
   color: #F29422 !important;
 }

 /*Donate*/
 .Donate, .Petition
 {
     color: #F29422;
     text-decoration: underline;
 }

 .Donate:hover, .Petition:hover,.Donate:active, .Petition:active
 {
     color:#F2DBAE !important;
 }
 
/*align_text*/
.align
{
    text-align: center;
}

.align p
{
    padding-top:10px;
    font-family: "poppins";
}
 .but1
 {
     padding-left: 0%;
     
 }

 .but2
 {
    padding-left: 0px;
    margin-left: 100px;
 }
 .inline_div
 {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 20px;
     padding-bottom: 20px;
    margin-left: 38px;
    margin-right: 30px;

 }

 .fit_img
 {
   width: 1360px;
   height:auto;
 }

 .Successful
 {
     padding-top: 40px;
     padding-bottom: 10px;
 }